<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/2style.css">
    <title>Estoque</title>
</head>
<body>
    <!--Aqui foi criado a tabela onde será mostrado os produtos que tem no estoque-->
    <div>
        <h1>Projeto Web</h1>
        <h2>Listas dos produtos em estoque</h2>
        <table border="2px" align="center">
            <tr>
                <th>Nome</th>
                <th>Quant.</th>
                <th>Local</th>
                <th>Código</th>
                <th>Tipo</th>
            </tr>
            <tr>
                <td>XXX</td>
                <td><input type="number"></td>
                <td>AAA</td>
                <td>QES#34X</td>
                <td>A</td>
            </tr>
            <tr>
                <td>YYY</td>
                <td><input type="number"></td>
                <td>BBB</td>
                <td>ESP#23Y</td>
                <td>B</td>
            </tr>
            <tr>
                <td>ZZZ</td>
                <td><input type="number"></td>
                <td>CCC</td>
                <td>SDF#43Z</td>
                <td>C</td>
            </tr>
            <tr>
                <td>PPP</td>
                <td><input type="number"></td>
                <td>DDD</td>
                <td>WRT#32P</td>
                <td>D</td>
            </tr>
            <tr>
                <td>OOO</td>
                <td><input type="number"></td>
                <td>EEE</td>
                <td>OXT#45O</td>
                <td>E</td>
            </tr>
            <tr>
                <td>HHH</td>
                <td><input type="number"></td>
                <td>FFF</td>
                <td>DRT#56H</td>
                <td>F</td>
            </tr>
        </table>
    
    <p><a href="index3.html"><input type="button" value="Requisitar produto"></a>
    <a href="index4.html"><input type="button" value="Cadastrar produto"></a></p>
    </div>
    <!--Foram criados link's em cada botão para levar o usúario a página de requisição ou de cadastro de novos produtos-->
</body>
</html>