<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/3.1style.css">
    <title>Requisitado</title>
</head>
<body>
    <!--Página confirmando a requisição do produto-->
    
    <img src="../img/cadastrored.png" alt="Requisitado">
    <p><b>Seu produto foi requisitado !!</b></p>
    <a href="index2.html"><abbr title="Voltar"><img src="../img/voltarred.png" alt="voltar" style="margin-top: 60px;"></abbr></a>
    <!--O link acima irá redirecionar o usuário a página de estoque-->
</body>
</html>
