<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/3style.css">
    <title>Requisição de produto</title>
</head>
<body>
    <!--Página onde o usuário fornecerá dados do produto para sua requisição-->
    
    <h1>Projeto Web</h1>
    <p><h2>Requisite o produto</h2></p>
    <form autocomplete="on">
        <fieldset>
            <legend><b>Informe os dados do produto</b></legend>
            <b>Código: <input type="text" style="margin-left: 20px;" placeholder="Código do produto"></b>
            <b><p>Quant.: <input type="number" style="margin-left: 23px;" placeholder="Quantidade p/ requisitar"></p></b>
            <p><b>Tipo: <input type="text" style="margin-left: 38px;" placeholder="Digite o tipo do produto"></b></p>
        </fieldset>
    </form>
    <p>
        <a href="index3.1.html"><input type="button" value="Requisitar"></a>
        <a href="index2.html"><input type="button" value="Voltar"></a>
    </p>
    
    
</body>
</html>