<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/mstyle.css">
    <title>Produto Cadastrado</title>
</head>
<body>
    <!--Página confirmando o cadastro do produto.-->
    <img src="../img/cadastrored.png" alt="Cadastro realizado">
    <p><h2><b>O cadastro do produto foi realizado com sucesso!!</b></h2></p>
    <p><a href="index2.html"><abbr title="Voltar"><img src="../img/voltarred.png" alt="Voltar" style="margin-top: 50px;"></abbr></a></p>
</body>
</html>